body {
  background-color: midnightblue;
  font-size: 1em
  }/* give your page a fun background color */

h1 {
  font: 3em Impact;
  letter-spacing: 5px;
  padding-left: 5px;
  background-color: darkslategrey;
  color: deepskyblue;
  }/* give your header and footer another background color */

/* define the font for your header */

ul {
  font-size: 1.25em;
  list-style-type: none;
  color: deepskyblue;
  }/* remove the bullets from your unordered list */

p {
  font-size: 1.5em;
  background-color: deepskyblue;
  font-style: italic;
  color: darkslategrey;
  }/* make your paragraph italic and a color that is not black */
