body {
  font: 'Baskerville', 'Rockwell';
  font-size: 4em;
  font-stretch: extra-expanded;
  font-weight: bold;
  color: cornflowerblue;
  background-color: midnightblue;
}

#container {
    font-size: inherit;
    width: 500px;
    height: 500px;
    padding: auto;
    margin: auto;
    position: ;
    text-align: center;
}

h1 {
  font-size: 80%;
  color: inherit;
  outline-color: black;
  text-align: center;
  text-shadow: 5px 5px black;
}

p {
  font-size: 25%;
  font-style: italic;
  text-shadow: 3px 2px black;
}
